[mysqld]

# Tells MySQL to accept connections from any IP address (not just localhost)
bind-address = 0.0.0.0

# Sets the TCP port number for MySQL. 3306 is the default MySQL port.
port = 3306

# 	Specifies the Linux user that will run the MySQL server process.
user = mysql

# Tells MySQL where to store the database files.
datadir = /var/lib/mysql
